.Main-container{
    text-align: center;
    display: flex;
    justify-content: center;
}
.mini-container{
    border: solid rgb(194, 190, 190) 2px;
    padding: 6rem;
    height: 60rem;
    margin-top: 2rem;
}
hr{
    margin-top: 2rem;
}
.form-btn-container{
    display: flex;
    gap: 10rem;
    margin-top: 5rem;
    
}

.add-btn{
    width: 5rem;
    border-radius: 1rem;
    border-color: rgb(236, 235, 235);
    cursor: pointer;

}
.Search-bar{
    border: solid rgb(236, 235, 235) 2px;
    width: 18rem;
    padding-left: 2rem;
    height: 3rem;
    border-radius: 1rem;
    display: flex;
    align-content: center;
    justify-content: center;
}
.Search-bar input{
    border: none;
    outline: none;
    flex: 1;
}
.Search-bar button{
    border: none;
    border-radius: 50%;
    background: none;
    cursor: pointer;
    margin-right: 1rem;
}
.Search-bar button img{
    width: 1.4rem;
    height: 1.4rem;
}
/* working on the modal*/
.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 2;
    top: 0;
    width: 30%;
    height: max-content;
    overflow: auto;
    background-color: rgb(77, 76, 76);
    color: white;
    padding: 2rem;
    margin-top: 10rem;
    margin-left: 0.5rem;
}
/*Closing span*/
.Close{
    border: solid white 1px;
    height: 1rem;
    padding: 5px;
    cursor: pointer;
}
.Close:hover{
    background-color: rgb(170, 170, 170);
}
.closing{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.modal-input{
    width: 40%;
    height: 2rem;
}
select{
    height: 2.35rem;
    background-color: rgb(39, 38, 38);
    color: white;
}
textarea{
    width: 60%;
    height: 7rem;
    margin-bottom: 2rem;
}
.modal-add{
    width: 60%;
    background-color: black;
    color: white;
    height: 2rem;
    cursor: pointer;
}
.modal-add:hover{
    background-color: rgb(139, 137, 137);
}
h6{
    color: black;
    margin: 0;
}
.taskDisplay{
    border: solid rgb(204, 200, 200) 3px;
    margin-top: 1rem;
    text-align: left;
    padding: 10px;
}

.taskDisplay#Low
{
    border-color: green;
}
.taskDisplay#Medium
{
    border-color: yellow;
}
.taskDisplay#High
{
    border-color: red;
}

/*styling the log in and register*/
h1{
    margin-top: 5rem;
    text-align: center;
    color: teal;
    letter-spacing: 5px;
    font-size: 3rem;

}
h2{
    margin-bottom: 3rem;
    letter-spacing: 4px;
    color: teal;
    font-weight: 600;
    font-size: 2rem;
}

.Mini-Main{
    text-align: center;
    margin-top: 4rem;
    border: teal solid 2px;
    padding: 5rem;
    margin-top: 8rem;
    width: 48%;
    margin-left: 23%;
    box-shadow: black 3px 3px 3px;
    
   
}


.login-btn{
    background-color: teal;
    height: 3rem;
    width: 50%;
    border-radius: 3rem;
    margin-top: 2rem;
    border: none;
    color: white;
    font-size: 1rem;
    letter-spacing: 8px;
    font-weight: 600;
    box-shadow: black 3px 3px 3px;
}

.signUp{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
.login-link{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}
.mini{
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    gap: 1%;
}
.add{
    background-color: teal;
    color: white;
    border: none;
    width: 3rem;
    box-shadow: black 3px 3px 3px;
}
/*styling the input task div*/
.inputTask{
    height: 3rem;
    margin-top: 2rem;
    padding-left: 2rem;
    text-align: center;
    width: 60%;
    display: flex;
    justify-content: left;
    gap: 50%;
    margin-left: 5rem;
    
}
/*styling the div with crud button*/

.delete-btn{
    background-color: teal;
    border: none;
    color: white;
    width: 4rem;
    height: 3.3rem;
    box-shadow: black 3px 3px 3px;
}
.span-container{
    display: flex;
    justify-content: center;
    
    
}
.button-container{
    display: flex;
    gap: 5%;
    
}
.TaskDisplay{
    font-size: 1.4rem;
    width: 13rem;
    border: none;
    color: rgb(66, 65, 65);
    font-weight: 600;

}

/* styling span showing errors*/
li{
    list-style-type: none;
}

/* styling login inputs */
.input-input{
    height: 2rem;
    width: 100%;
    border-color: teal;
}